<div class="container">
    <!-- FIRST BUTTON HTML -->
<div class="row spacer otherfont">
    <h1>ANGULAR-JAVALIN CONNECTION EXAMPLE USING SESSIONS</h1>
</div>

<div class="row spacer">
    <div class="col-8">
        <h3>Obtain Current User Information: {{firstDisplay}}</h3>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-info" (click)="firstButton()">First</button>
    </div>
</div>
<!-- SECOND BUTTON HTML -->
<div class="row spacer">
    <div class="col-8">
        <h3>Login Attempt: {{secondDisplay}}</h3>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-success" (click)="secondButton()">Second</button>
    </div>
</div>
<!-- THIRD BUTTON HTML -->
<div class="row spacer">
    <div class="col-8">
        <h3>Logout Attempt: {{thirdDisplay}}</h3>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-dark" (click)="thirdButton()">Third</button>
    </div>
</div>
</div>